html
    head
          link(rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
          link(rel='stylesheet prefetch' href='http://cdn.foundation5.zurb.com/foundation.css')
          link(rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.9/css/dataTables.foundation.css')
          link(rel="stylesheet" href="/css/style.css")


          script(src='http://code.jquery.com/jquery-1.11.3.min.js')
          script(src='http://cdn.foundation5.zurb.com/foundation.js') 
          script(src="/js/wavesurfer.min.js")
          script(src="/js/wavesurfer.spectrogram.min.js")

          script(src='/app.js') 

          include ./mixin.jade
    include ./page.jade
            
    
