




mixin summary_line(e, i)
    .row
     .small-6.columns
        p!= e.title 
     .small-3.columns
         p!= e.artist 
     .small-3.columns
         p!=  e.album
    .row 
        .small-12.columns
          div(class='container')
            div(id="waveform_#{i}")
                script. 
                     $( document ).ready(function() { 
                        var url = !{JSON.stringify(e.href)};
                        var idx = !{JSON.stringify(i)};
                        createAudioView( url, "#waveform_"+idx)
                      });
     
